[Unit]
Description=MAC Met Station DAT file parser
After=network.target

[Service]
User=extractor
Group=users
Restart=on-failure
WorkingDirectory=/home/extractor/extractors-environmental/uamac_datparser
ExecStart=/usr/bin/python /home/extractor/extractors-environmental/uamac_datparser/terra_uamac_datparser.py

[Install]
WantedBy=multi-user.target
